{% extends 'base.html.twig' %}
{% block body %}
    <h1>Edytuj Grupę</h1>
    {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}

        {{ form_label(form.info) }}
        {{ form_widget(form.info) }}
    {{ form_end(form) }}
{% endblock %}
