{% extends 'base.html.twig' %}
{% block body %}
{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        {% if ( label == 'success' ) %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ flash }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elseif ( label == 'danger' ) %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ flash }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elseif ( label == 'info' ) %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ flash }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elseif ( label == 'error' ) %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ flash }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="row">
    <div class="col-12">
        {%if groups %}
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Informacja</th>
                    <th scope="col">Utworzono</th>
                    <th scope="col">Zmodyfikowano</th>
                    <th scope="col">Edytuj/Usuń</th>
                    </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td>{{ group.info }}</td>
                        <td>{{ group.createdat|date("m-d-Y H:i:s", false) }}</td>
                        <td>{{ group.updatedat|date("m-d-Y H:i:s", false) }}</td>
                        <td>
                            <a href="{{ path('app_group_edit', {'id':group.id}) }}" type="button" class="btn btn-outline-warning btn-sm">Edytuj</a>
                            <a href="{{ path('app_group_delete', {'id':group.id}) }}" type="button" class="btn btn-outline-danger btn-sm">Usuń</a>
                        </td>
                    </tr>
                {% endfor %}          
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info text-center" role="alert">
                Lista jest pusta! <a href="{{ path('app_group_create') }}" type="button" class="btn btn-outline-success btn-sm">Dodaj</a> grupę.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
