{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
</style>

<div class="example-wrapper">
    <table>
        <tr>
            <td>Nazwa</td>
            <td>Informacja</td>
            <td>Utworzono</td>
            <td>Zmodyfikowano</td>
            <td>Edytuj/Usuń</td>
        </tr>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.info }}</td>
                <td>{{ group.createdat|date("m-d-Y H:i:s", false) }}</td>
                <td>{{ group.updatedat|date("m-d-Y H:i:s", false) }}</td>
                <td><a href="{{ path('app_group_edit', {'id':group.id}) }}">Edytuj</a> | <a href="{{ path('app_group_delete', {'id':group.id}) }}">Usuń</a></td>
            </tr>
        {% else %}
            <tr>Lista jest pusta</tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
