{% extends 'base.html.twig' %}
{% block body %}
    <h1>Dodaj osobę</h1>
    {{ form_start(form) }}
        {{ form_label(form.login) }}
        {{ form_widget(form.login) }}

        {{ form_label(form.last_name) }}
        {{ form_widget(form.last_name) }}
        {{ form_label(form.first_name) }}
        {{ form_widget(form.first_name) }}
    {{ form_end(form) }}
{% endblock %}
