{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}
</style>

<div class="example-wrapper">
    <table>
        <tr>
            <td>Login</td>
            <td>Nazwisko</td>
            <td>Imię</td>
            <td>Utworzono</td>
            <td>Zmodyfikowano</td>
            <td>Grupa</td>
            <td>Edytuj/Usuń</td>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.login }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.created_at|date("m-d-Y H:i:s", false) }}</td>
                <td>{{ user.updated_at|date("m-d-Y H:i:s", false) }}</td>
                <td>{{ user.group_id }}</td>
                <td><a href="{{ path('app_user_edit', {'id':user.id}) }}">Edytuj</a> | <a href="{{ path('app_user_delete', {'id':user.id}) }}">Usuń</a></td>
            </tr>
        {% else %}
            <tr>Lista jest pusta</tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
