{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-12">
        {%if users %}
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Login</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Utworzono</th>
                    <th scope="col">Zmodyfikowano</th>
                    <th scope="col">Grupa</th>
                    <th scope="col">Edytuj/Usuń</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.login }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.createdat|date("m-d-Y H:i:s", false) }}</td>
                        <td>{{ user.updatedat|date("m-d-Y H:i:s", false) }}</td>
                        <td>{{ user.group }}</td>
                        <td>
                            <a href="{{ path('app_user_edit', {'id':user.id}) }}" type="button" class="btn btn-outline-warning btn-sm">Edytuj</a>
                            <a href="{{ path('app_user_delete', {'id':user.id}) }}" type="button" class="btn btn-outline-danger btn-sm">Usuń</a>
                        </td>
                    </tr>       
                {% endfor %}          
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info text-center" role="alert">
                Lista jest pusta! <a href="{{ path('app_user_create') }}" type="button" class="btn btn-outline-success btn-sm">Dodaj</a> osobę.
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
